@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.button {
		@apply focus-visible:ring-popup-magenta flex items-center justify-center gap-2 whitespace-nowrap rounded-2xl border-2 border-white bg-white px-6 py-4 text-xl font-medium text-black outline-none duration-200 ease-linear hover:bg-transparent hover:text-white focus-visible:ring-4;
	}

	.smallButton {
		@apply focus-visible:ring-popup-magenta flex items-center justify-center gap-2 whitespace-nowrap rounded-2xl border-2 border-white bg-white px-3 py-2 text-lg font-medium text-black outline-none duration-200 ease-linear hover:bg-transparent hover:text-white focus-visible:ring-4;
	}

	.select {
		@apply form-select focus-visible:!ring-popup-magenta cursor-pointer rounded-2xl !border-white py-4 text-xl font-medium text-black !ring-transparent duration-200 ease-linear hover:bg-gray-200 focus-visible:!ring-4;
	}

	.input {
		@apply transparent-900 transparent-input rounded-xl p-4 text-xl text-white outline-none duration-200 ease-linear read-only:cursor-not-allowed;
	}

	.dialog {
		@apply mx-auto w-2/4 select-none rounded-2xl bg-gray-700 p-10 text-white;
	}

	.focusRing {
		@apply focus-visible:ring-popup-magenta outline-none focus-visible:ring-4;
	}

	.checkbox {
		@apply focusRing form-checkbox relative -top-0.5 transform cursor-pointer rounded-full border-2 text-black outline-none duration-200 ease-in focus:ring-transparent motion-reduce:transform-none motion-reduce:transition-none;
	}

	.menuButton {
		@apply p-3;
	}

	.selectedMenuButton {
		@apply transparent-900 rounded-lg p-3;
	}

	.downloadButton {
		@apply transparent-900 flex w-48 flex-col items-center justify-center space-y-4 rounded-xl border border-gray-500 p-8 shadow-xl duration-150 ease-in-out hover:bg-white hover:text-black sm:p-4;
	}

	.selectedDownloadButton {
		@apply flex w-48 flex-col items-center justify-center space-y-4 rounded-xl border border-white p-8 shadow-xl duration-150 ease-in-out bg-white text-black sm:p-4;
	}
}

/* body */
body {
	color: white;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: rgb(10, 10, 10);
	line-height: normal;
	font-family: system-ui, Arial;
	user-select: none;
	outline: none !important;
	overflow: hidden;
	color-scheme: dark;
}

/* headings */
h1 {
	font-size: 60px;
	font-weight: 700;
}

/* main card */
h2 {
	font-size: 28px;
	font-weight: 700;
}

h3 {
	font-size: 20px;
	color: #d3cfcf;
}

/* secondary card */
h4 {
	font-size: 20px;
	font-weight: 500;
}

h5 {
	font-size: 16px;
	color: #d3cfcf;
}

@media (max-width: 640px) {
	h1 {
		font-size: 50px;
	}

	h2 {
		font-size: 24px;
	}

	h3 {
		font-size: 18px;
	}

	h4 {
		font-size: 18px;
	}

	h5 {
		font-size: 14px;
	}
}

/* backdrops */
.transparent-900 {
	background-color: hsla(0, 0%, 100%, 5.12%);
}

.transparent-800 {
	background-color: hsla(0, 0%, 100%, 3.26%);
}

.transparent-input:hover {
	background-color: hsla(0, 0%, 100%, 15%);
}

.transparent-input:focus {
	background-color: hsla(0, 0%, 100%, 15%);
}

.transparent-900-hover:hover {
	background-color: hsla(0, 0%, 100%, 5%);
}

.transparentHover:hover {
	background-color: hsla(0, 0%, 100%, 5%);
}

/* Home overlay scrollbar */
.overlayScroll::-webkit-scrollbar {
	width: 8px;
}

.overlayScroll::-webkit-scrollbar-track {
	background-color: transparent;
}

.overlayScroll::-webkit-scrollbar-thumb {
	background-color: #9f9f9f;
	border-radius: 30px;
}

.overlayScroll::-webkit-scrollbar-thumb:hover {
	background-color: #9f9f9f;
}

.headerBg {
	background-image: radial-gradient(transparent, Canvas), radial-gradient(color-mix(in oklch, Canvastext 33%, Canvas) 0.8px, transparent 1.3px);
	background-size: 200px 200px, 40px 40px;
	background-repeat: round, space;
}
