<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:iot="http://schemas.microsoft.com/appx/manifest/iot/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  IgnorableNamespaces="uap rescap iot mp">

  <Identity
    Name="16050Levminer.Cores-Hardwaremonitor"
    Publisher="CN=B765AB4D-AD3E-473D-BE98-14C9D93F7EA7"
    Version="0.3.0.0" />

  <Properties>
    <DisplayName>Cores - Hardware monitor</DisplayName>
    <PublisherDisplayName>Levminer</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Cores"
        Description="Hardware monitor"
        BackgroundColor="transparent"
		Square44x44Logo="Assets\AppIcon.png" Square150x150Logo="Assets\MediumTile.png">
        <uap:SplashScreen Image="Assets\SplashScreen.png"  BackgroundColor="transparent"/>
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape"/></uap:InitialRotationPreference>
        <uap:DefaultTile/>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
	<rescap:Capability Name="runFullTrust" />
	<rescap:Capability Name="allowElevation" />
    <iot:Capability Name="systemManagement"/>
  </Capabilities>

  <mp:PhoneIdentity PhonePublisherId="00000000-0000-0000-0000-000000000000" PhoneProductId="b46c0fe0-12fb-448d-8d8b-de8d009509fb"/>
</Package>
